header {
    background-color: rgb(114, 119, 124);
    color: white;
    text-align: center;
}

main {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}